div.toggle_area,
div.non_toggle_area {
  clear: both;
  margin: 5px 0;
  padding: 0;
}


div.toggle_label,
div.non_toggle_label,
div.toggle_label .own,
div.non_toggle_label .own{
  padding: 5px 5px;
}


div.toggle_label,
div.toggle_label * {
  cursor: pointer;
}

div.scomments_form {
    white-space: nowrap;
}

div.scomments_form_status {
/*    color:#999;
    font-weight: bold;
    border: #ccc solid 1px;
    padding:5px;
    margin-bottom: 5px;
    margin-right: 5px;
    display:none;*/
}

div.slashcomments-comment-moderation-status .messages {
  display:block;
  margin:0px;
}


div.slashcomments-comment-moderation-status {
  font-size:80%;
  color: #999;
  padding-left:2px;
}

div.scomments_container {
    height:20px;
    margin:20px 0 0px 0;
}

span.scomments_info {
  float:right;
  clear:right;
  padding-left: 1em;
}

.picture {
  float: left; /* LTR */
  clear: left; /* LTR */
}

.scomments_rating .help_icon {
  padding: 0px 3px;
  margin: 0px;
  margin-bottom:-4px;
  width: 18px;
}

.scomments_container .form-submit {
  margin-top:0em;
  margin-bottom:0em;
}

.scomments_container form {
  margin-bottom:0px;
  display:inline;
}

div.collapsed {
  display:none;
}

div.slashcomments-notification {
  border: 1px solid #000;
  position: fixed;
  right:0px;
  top:0px;
  margin: 5px;
  padding:5px;
  background-color: #fff;
  font-size:70%;
  width:200px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

div.slashcomments-notification-header {
  font-weight:bold;
}

p.slashcomments-notification-title {
  margin:0px;
  display:inline-block;
}

div.slashcomments-notification-body p {
  line-height:1.5em;
  text-align:justify;
  margin-bottom:0px;
}

div.slashcomments-notification-close {
  float:right;
  font-size:110%;
}

div.slashcomments-notification-close a:link,
div.slashcomments-notification-close a:visited
{
  color:#000;
  text-decoration:none;
}

div.slashcomments-notification-close a:hover,
div.slashcomments-notification-close a:active
{
  color:#f00;
  text-decoration:none;
}
