div.toggle_label {
  background:#eee;
  background: -webkit-gradient(linear, left top, left bottom, to(#eee), from(#bbb));
  background: -moz-linear-gradient(top, #bbb, #eee);
}

div.toggle_label * {
  color: #999;
}

div.toggle_area {
  border: 1px solid #bbb;
}

div.toggle_area .forum-post-info {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  margin-bottom: 0px;
}


div.own,
div.toggle_label .own{
  background:#fff ;
  background: -webkit-gradient(linear, left top, left bottom, to(#fff), from(#eee));
  background: -moz-linear-gradient(top, #eee, #fff);
}

div.non_toggle_area .own,
div.non_toggle_label .own {
  background: #BFD6FF;
  background: -webkit-gradient(linear, left top, left bottom, to(#91CDF5), from(#58B3ED));
  background: -moz-linear-gradient(top, #58B3ED, #91CDF5);
}
