div.toggle_area,
div.non_toggle_area {
  clear: both;
  margin: 5px 0;
  padding: 0;
}


div.toggle_label,
div.non_toggle_label,
div.toggle_label .own,
div.non_toggle_label .own{
  padding: 5px 5px;
}


div.toggle_label,
div.toggle_label * {
  cursor: pointer;
}

div.scomments_form {
    white-space: nowrap;
}

div.scomments_form_status {
/*    color:#999;
    font-weight: bold;
    border: #ccc solid 1px;
    padding:5px;
    margin-bottom: 5px;
    margin-right: 5px;
    display:none;*/
}

div.scomments_form_status .messages {
  display:block;
  margin:0px;
}

div.scomments_container {
    height:35px;
    margin:25px 0 5px 0;
}

span.scomments_info {
  float:right;
  clear:right;
  padding-left: 1em;
}

.picture {
  float: left; /* LTR */
  clear: left; /* LTR */
}

.scomments_rating .help_icon {
  padding: 0px 3px;
  margin: 0px;
  margin-bottom:-4px;
  width: 18px;
}

.scomments_container .form-submit {
  margin-top:0em;
  margin-bottom:0em;
}

#center .comment-content form {
  margin-bottom:0px;
  display:inline;
}
